
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  <!-- 以上代码告诉IE浏览器，IE8/9及以后的版本都会以最高版本IE来渲染页面。 -->  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MeetHere场馆预约系统</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!--[if lte IE8]>
    <p class="browserupdate">您的浏览器版本太老，请到<a href="http://browsehappy.com">这里</a>更新，以获取最佳的浏览体验。</p>
    <![endif]-->
    <header>
        <div class="logo">
            <h1 class="vertical-center">MeetHere场馆预约管理系统</h1>
        </div>
        <div class="logoff">
            <a href="/public/login"><span><em class="username"></em>（<em class="usernum">登录</em>）</span></a>
            <a href="/logout" id="logout"><img src="/images/out.png" alt="注销登录"></a>
        </div>
    </header><!-- header结束 -->
    <div class="myContainer">
        <section class="person-info box">
            <img src="/images/my.png" alt="用户图片" class="horizontal-center">
            <div class="horizontal-center">
                <span>用户名：<a href="/user/user_info.html" class ="username">null</a></span>
                
            </div>
        </section>
        <section class="seat-select box">
            <img src="/images/seat1.png" alt="场地预约" class="horizontal-center">
            <span class="horizontal-center">场地预约</span>
            <a href="/user/reservation.html"></a>
        </section>
        <section class="seat-operate">
            <div class="register box">
                <img src="/images/write.png" alt="留言" class="vertical-center">
                <span class="vertical-center">留言</span>
                <a href="/public/message.html"></a>
            </div>
            <div class="cancel-reserve box">
                <img src="/images/record.png" alt="新闻" class="vertical-center">
                <span class="vertical-center">新闻</span>
                <a id="ii" href="/public/news.html"></a>
            </div>
        </section>
        <section class="seat-release box">
            <img src="/images/recyle.png" alt="场馆介绍" class="horizontal-center">
            <span class="horizontal-center">场馆信息</span>
            <a href="/public/room_info.html"></a>
        </section>
    </div><!-- container结束 -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/user.js"></script>
</body>
</html>