<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">  <!-- 以上代码告诉IE浏览器，IE8/9及以后的版本都会以最高版本IE来渲染页面。 -->  
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>留言</title>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/message.css">
	<style type="text/css">
		.butn {
    	background-color: #008CBA;
    	border: none;
    	color: white;
    	padding: 15px 32px;
    	text-align: center;
    	text-decoration: none;
    	display: inline-block;
    	font-size: 16px;
    	margin: 10px;
		}
		.butn:hover {background-color: #008CBA}

		.butn:active {
  		background-color: #008CBA;
  		box-shadow: 0 5px #666;
  		transform: translateY(4px);
		}
	</style>
</head>
<body>
	<header>
		<div class="logo">
			<h1 class="vertical-center">MeetHere场馆预约管理系统</h1>
		</div>
		<div class="logoff">
            <a href="/public/login"><span><em class="username"></em>（<em class="usernum">登录</em>）</span></a>
            <a href="/logout" id="logout"><img src="/images/out.png" alt="注销登录"></a>
		</div>
	</header>
	<div class="myContainer" style="margin:20px auto;">
		<nav class="nav-list">
			<a href="/public/index.html" class="nav-item" id="nav-item1">
				<span class="iconfont">&#xe63e;</span>
				<span class="item-info">主页</span>
			</a>
			<a href="/user/reservation.html" class="nav-item" id="nav-item2">
				<span class="iconfont">&#xe604;</span>
				<span class="item-info">预约场地</span>
			</a>
			<a href="/public/message.html" class="nav-item" id="nav-item3">
				<span class="iconfont">&#xe601;</span>
				<span class="item-info">留言</span>
			</a>
			<a href="/public/news.html" class="nav-item" id="nav-item4">
				<span class="iconfont">&#xe64a;</span>
				<span class="item-info">新闻</span>
			</a>
			<a href="/public/room_info.html" class="nav-item" id="nav-item5">
				<span class="iconfont">&#xe751;</span>
				<span class="item-info">场馆信息</span>
			</a>
			<a href="/public/user_info.html" class="nav-item" id="nav-item6">
				<span class="iconfont">&#xe610;</span>
				<span class="item-info">个人中心</span>
			</a>
			<span class="triangle" style="left: 325px;"></span>
		</nav>
		<div class="comment">
	        <h1>留言板</h1>
	        <textarea id="memo" cols="60" rows="10"></textarea>
	        <input type="button" class="butn" value="发布" onclick="saveStorage()" />
	        <hr />
	        <ul id="msg">
	        	<li class="list0"> <a class="close" href="javascript:;">X</a>
			        <div class="head"></div>
			        <div class="content">
			            <p class="text"><span class="name">Andy：<span class="msgId"></span></span>哈哈哈哈哈</p>
			            <div class="good"><span class="date">02-14 23:01</span></div>
			            <div class="comment-list">
			                <div class="comment" user="self" >
			                    <div class="comment-left"></div>
			                    <div class="comment-right">
			                        <div class="comment-text"><span class="user" >老王：</span>我</div>
			                        <div class="comment-date">02-14 22:00<a class="comment-dele" href="javascript:;">回复</a> </div>
			                    </div>
			                </div>
			                <div class="comment" user="self">
			                    <div class="comment-left"></div>
			                    <div class="comment-right">
			                        <div class="comment-text"><span class="user">我：</span>看哭了留卡号吧</div>
			                        <div class="comment-date">02-14 24:00<a class="comment-dele" href="javascript:;">删除</a> </div>
			                    </div>
			                </div>
			            </div>
			            <div class="hf">
			                <textarea type="text" class="hf-text" autocomplete="off" maxlength="100">评论…</textarea>
			                <button class="hf-btn">回复</button>
			                <span class="hf-nub">0/100</span> 
			            </div>
			        </div>
			    </li>
	        </ul>
		
		</div>
	</div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/message.js"></script>

</body>
</html>