
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  <!-- 以上代码告诉IE浏览器，IE8/9及以后的版本都会以最高版本IE来渲染页面。 -->  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MeetHere场馆预约系统</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!--[if lte IE8]>
    <p class="browserupdate">您的浏览器版本太老，请到<a href="http://browsehappy.com">这里</a>更新，以获取最佳的浏览体验。</p>
    <![endif]-->
    <header>
        <div class="logo">
            <h1 class="vertical-center">MeetHere场馆预约管理系统</h1>
        </div>
        <div class="logoff">
            <a href="/public/login"><span><em class="username"></em>（<em class="usernum">登录</em>）</span></a>
            <a href="/logout" id="logout"><img src="/images/out.png" alt="注销登录"></a>
        </div>
    </header><!-- header结束 -->
    <div class="myContainer">
        
        <section class="seat-select box">
            <img src="/images/record.png" alt="新闻操作" class="horizontal-center">
            <span class="horizontal-center">新闻操作</span>
            
        </section>
        <section class="seat-operate">
            <div class="register box">
                <img src="/images/record.png" alt="发布" class="vertical-center">
                <span class="vertical-center">发布</span>
                <a href="/admin/submitnews.html"></a>
            </div>
            <div class="cancel-reserve box">
                <img src="/images/record.png" alt="浏览及其他操作" class="vertical-center">
                <span class="vertical-center">浏览及其他操作</span>
                <a href="/public/news.html"></a>
            </div>
        </section>
        
    </div><!-- container结束 -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/user.js"></script>
</body>
</html>